<div class="container">
  <section id="SECTION_1">
    <div id="DIV_2">
      <h3 id="H3_3">
        Let's Have a Deal
        <div id="DIV_4"></div>
      </h3>
      <div id="DIV_5">
        <h4 id="H4_6">
          Having a Website is not enough.
        </h4>
        <p id="P_7">
          It's our desire to understand your business and needs so that we can
          be more effective in providing you<br id="BR_8" />
          with the right Web-based business solutions and high impact digital
          presence.
        </p>
        <p id="P_9">
          We align with your business strategies. We develop the right Web
          Application for you. We enable your business success.
        </p>
      </div>
      <div id="DIV_10">
        <p id="P_11">
          <b id="B_12">Reach us at:</b><br id="BR_13" />
          +63 2 8772-8224 (Manila Office)<br id="BR_14" />+63 32 412 4266 (Cebu
          Office)<br id="BR_15" />
          info@techcellar.com<br id="BR_16" />
          <b id="B_17">Find us at:</b><br id="BR_18" />5/F Goodwill Building,
          393 Sen. Gil Puyat Avenue Bel-air, Makati City<br id="BR_19" />
          Unit 217 Medalle Bldg., Osmena Blvd., Cebu City
        </p>
        <div id="DIV_20">
          <h4 id="H4_21">
            Send us your Inquiry
          </h4>
        </div>
        <div id="DIV_22">
          <form
            id="FORM_23"
            method="post"
            enctype="multipart/form-data"
            action="/"
          >
            <div id="DIV_24">
              <div id="DIV_25">
                <label for="wpforms-228-field_3" id="LABEL_26">
                  Name <span id="SPAN_27">*</span>
                </label>
                <input
                  type="text"
                  id="INPUT_28"
                  name="wpforms[fields][3]"
                  placeholder="Full Name"
                />
              </div>
              <div id="DIV_29">
                <label for="wpforms-228-field_1" id="LABEL_30">
                  Email <span id="SPAN_31">*</span>
                </label>
                <input
                  type="email"
                  id="INPUT_32"
                  name="wpforms[fields][1]"
                  placeholder="Email"
                />
              </div>
              <div id="DIV_33">
                <label for="wpforms-228-field_4" id="LABEL_34">
                  Company <span id="SPAN_35">*</span>
                </label>
                <input
                  type="text"
                  id="INPUT_36"
                  name="wpforms[fields][4]"
                  placeholder="Company"
                />
              </div>
              <div id="DIV_37">
                <label for="wpforms-228-field_7" id="LABEL_38">
                  Telephone No. <span id="SPAN_39">*</span>
                </label>
                <input
                  type="text"
                  id="INPUT_40"
                  name="wpforms[fields][7]"
                  placeholder="Telephone No."
                />
              </div>
              <div id="DIV_41">
                <label for="wpforms-228-field_6" id="LABEL_42">
                  Subject <span id="SPAN_43">*</span>
                </label>
                <input
                  type="text"
                  id="INPUT_44"
                  name="wpforms[fields][6]"
                  placeholder="Subject"
                />
              </div>
              <div id="DIV_45">
                <label for="wpforms-228-field_8" id="LABEL_46">
                  Promo code <span id="SPAN_47">*</span>
                </label>
                <input
                  type="text"
                  id="INPUT_48"
                  name="wpforms[fields][8]"
                  placeholder="Promo code"
                />
              </div>
              <div id="DIV_49">
                <label for="wpforms-228-field_9" id="LABEL_50">
                  Message <span id="SPAN_51">*</span>
                </label>
                <textarea
                  id="TEXTAREA_52"
                  name="wpforms[fields][9]"
                  placeholder="Message"
                >
                </textarea>
              </div>
            </div>
            <div id="DIV_53">
              <label for="wpforms-228-field-hp" id="LABEL_54">
                Phone
              </label>
              <input type="text" name="wpforms[hp]" id="INPUT_55" />
            </div>
            <div id="DIV_56">
              <input
                type="hidden"
                name="wpforms[id]"
                value="228"
                id="INPUT_57"
              />
              <input
                type="hidden"
                name="wpforms[author]"
                value="1"
                id="INPUT_58"
              />
              <button
                type="submit"
                name="wpforms[submit]"
                id="BUTTON_59"
                value="wpforms-submit"
              >
                SUBMIT
              </button>
            </div>
          </form>
        </div>
        <!-- .wpforms-container -->

        <p id="P_60">
          By submitting this form, I hereby give my consent to the website
          administrator to use and process all data received from me in
          accordance with the requirements of trade promotion and of Republic
          Act No. 10173 otherwise known as Data Privacy Act of 2012.
        </p>
      </div>
    </div>
    <div id="DIV_61">
      <span id="SPAN_64">
        <a
          href="https://www.linkedin.com/company/techcellar-business-solutions"
          id="A_65"
          ><img
            src="http://www.techcellar.com/wp-content/uploads/2015/05/linked-in.png"
            id="IMG_66"
            alt=""/></a
      ></span>
      <span id="SPAN_67">
        <a
          href="https://www.facebook.com/pages/TechCellar/186610578019909?fref=ts"
          id="A_68"
          ><img
            src="http://www.techcellar.com/wp-content/uploads/2015/05/facebook.png"
            id="IMG_69"
            alt=""/></a
      ></span>
    </div>
  </section>
</div>
