<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="http://www.techcellar.com/"
    ><img
      src="../../assets/images/logo3.png"
      alt=""
      srcset=""
      style="height: 35px;"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactform">Contact Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.techcellar.com/"
          >TechCellar Site</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href=" http://www.techcellar.com/#clients"
          >TechCellar Clients</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.techcellar.com/#whatwedo"
          >What We Do</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="      http://www.techcellar.com/#about"
          >About Us</a
        >
      </li>
    </ul>
  </div>
</nav>
